     <header id="home">
      Taskateer Scheduler
    <nav class="navbar" role="navigation" aria-label="main navigation" >
      <div class="navbar-brand">
     <!-- <div class="navbar-menu"> -->
        <div class="navbar-start" >
          <!-- navigation links -->
            <a class="navbar-item is-underlined" href="#about">
            About Us
          </a>
           <button id="user-button" class="input-button btn">View User</button>
         <button id="logout-button" class="input-button btn">Logout Task</button>
          <button id="input-button" class="input-button btn">Add Task</button>
                <div id="input-modal" class="input-modal" >
                    <div >
                        <span class="close">&times;</span>
                        <form class="input-modal-content">
                            <label for="input-title">Input task:</label>
                            <input type="text" id="input-title"><br>
                            <label for="input-date">Input date:</label>
                            <input type="text" id="input-date"><br>
                            <label for="input-time">Input time:</label>
                            <input type="text" id="input-time"><br>
                            <label for="input-location">Input location:</label>
                            <input type="text" id="input-location"><br>
                            <label for="input-notes">Input notes:</label>
                            <input type="text" id="input-notes"><br>
                            <input id="input-submit" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
        </div>
         </div>
    </nav>
  </header>
<!--   <header>
        <div class="body container">
            <div class="header-top">  
                <p class="username">User</p>
                <p>Taskateer</p>
                <p>Logout</p>
            </div>
          <div class="header-bottom">
                <button class="btn">&lt;</button> <p id="pagenumber" class="page">1/1</p> <button class="btn">&gt;</button>
            </div> 
        </div>
        
    </header> -->

    <div id="cards-group">
                {{#each cardSet as |card|}}
                    <div class="card card-body block container">
                        <h5 class="card-title">{{card.task}}</h5>
                        <p class="card-text">Datetime: {{card.datetime}}</p>
                        <p class="card-text">Location: {{card.location}}</p> 
                        <p class="card-text">Notes: {{card.notes}}</p>               
                    </div>
                {{/each}}
                
            </div>
              <section >
      <div class="box" id="shadow-box">
        <div class="box is-large container" id="about">
          <h2 class="title is-4" >About Us</h2>
           <!-- Content card for track data -->
           <div class="tab-content active">
            <div class="box">
              <h3 class="title is-10">The Tasketeers</h3>
              <h4>Members:</h4>
              <ul>
                <li>Chris Brown</li>
                <li>Melissa Brown</li>
                <li>Logan Patrick</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
               <footer>
    <div class="has-text-centered">
      <p id="currentYear">@2024<!-- JavaScript pull current year -TBD --></p>
    </div>
  </footer>  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./index.js"></script>