body {
    background: linear-gradient(100deg, #84FAB0, #a86d01b7);
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.button {
    background-color: rgb(24, 90, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
    background-color: rgb(20, 154, 231);
    color: #fff;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.header {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

#cards-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card {
    background-color: rgb(178, 144, 30);
    margin-bottom: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Smooth transition effect */
    border: 2px solid black;
}

.card:hover {
    transform: scale(1.1) translate(15%, 20%);
    z-index: 1;
    background-color: rgb(20, 154, 231); /* Change the background color on hover */
    border-color: black; /* Black border on hover */
}

.block {
    background-color: rgb(178, 144, 30);
    transition: background-color 0.3s ease-in-out; /* Smooth transition effect */
}

.block:hover {
    background-color: rgb(20, 154, 231); /* Change the color on hover */
}

.block-empty {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    transition: border-color 0.3s ease-in-out; /* Smooth transition effect */
}

