body {
    background: linear-gradient(45deg, #ec9a3c, #24c15e);
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.button {
    background-color: rgb(138, 255, 103);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
    background-color: rgb(108, 249, 162);
    color: #fff;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.header {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#cards-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card {
    max-width: 300px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition effect */
    margin-right: 20px;
}

.card:hover {
    transform: scale(1.1) translate(15%, 20%);
    z-index: 1;
    background-color: rgb(116, 246, 2);
}

.card:not(:hover) {
    transition: transform 0.3s ease-in-out; /* Smooth transition effect when not hovered */
}

.block {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    transition: border-color 0.3s ease-in-out; /* Smooth transition effect */
}

.block:hover {
    background-color: rgb(116, 246, 2);
}

.block:active {
    background-color: rgb(47, 136, 81);
}

.block-empty {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    transition: border-color 0.3s ease-in-out; /* Smooth transition effect */
}





